@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
:root{
  --green-primary: #3E8E7E;
  --green-secondary: #7CD1B8;
  --yellow-primary: #FABB51;
  --yellow-secondary: #FAEDC6;
  font-size: 17px;
}
h1{
  font-size: 53px !important;
  font-weight: 600 !important;
}
p{
  font-size: 18px !important;
}
.square{
  border-radius: 0px;
}
.jumbotron{
  background-image: url(https://www.joshmorony.com/media/2016/04/alto-screenshot.jpeg);
  color: #fff;
  /* height: 200px; */
  /* padding-top: 20%;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
}
.pointer{
  cursor: pointer;
}


body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Source Serif Pro', 'Noto Serif', serif !important
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}