.search-form{
    width: 350px;
    border-radius: 20px;
    position: relative;
}
.search-form-control{
    border-radius: 20px;
}
.search-form-control:focus{
    border-color: #ced4da;
    box-shadow: 1px 1px 5px 5px #c7e1d9;
    
}
.search-form-icon{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%)

}
